<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clean-build</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    
    <div class="container">
        <h1 class="index-heading">Welcome to Clean-build</h1>
        <p class="index-paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut repellat numquam aliquid delectus eius, recusandae maxime sequi unde quas autem perspiciatis aliquam, incidunt quibusdam in modi. Impedit beatae aspernatur suscipit.
        </p>
        <div class="index-buttons">
            <a href="/create-site" class="index-button">Create Cleanfolio</a>
        </div>
    </div>
</body>
</html>
